<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="AWSAccessKey" value="################"/>
    <!-- Sorry I can't share my secret key :P -->
		<add key="AWSSecretKey" value="##################################"/>
	</appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
